html {
    height: 100%;
    line-height: 1.15;
    text-size-adjust: 100%;
}
body{
    margin: 0;
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Source Sans Pro", Roboto, Arial, sans-serif;
    background-color: rgb(243, 243, 243);
    font-size: 14px;
    text-rendering: optimizeLegibility;
    line-height: 1;
}
header {
    display: block;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
footer {
    display: block;
}
.css-1pes7qu {
    width: 100%;
    margin-top: 10px;
    content-visibility: auto;
    background: #fff;
    margin: 40px 0;
    font-size: 15px;
}
.css-j44c7b {
    width: 100%;
    padding: 40px 0;
    background-color: #1e6b7b;
}
.css-1og3j6c {
    max-width: 1200px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.css-1sp5nw9 {
    background-color: rgb(30, 107, 123);
    color: rgb(255, 255, 255);
    padding: 0px 30px;
    line-height: 20px;
}
.css-fgblgf {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
i {
    font-style: italic;
}
svg:not(:root) {
        overflow: hidden;
    }
    .css-2pp407 {
    margin-top: 10px;
}
form {
        display: block;
        margin-top: 0em;
}
.css-2pp407 .input {
    color: white;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 72%;
    outline: none;
    padding: 8px 5px;
    margin-right: 3%;
    font-size: 14px;
    line-height: 20px;
}
::placeholder { 
    color:white;
    font-family: "Source Sans Pro", Roboto, Arial, sans-serif;
    
    }
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}
.css-2pp407 .submit-button {
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    padding: 6px 12px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 20px;
}
.css-1sp5nw9 .error-message {
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    color: red;
}
.css-wmf3l9 {
    color: #ffffff;
    display: flex;
    margin-left: 55px;
}
.css-1jsubav {
    padding-right: 10px;
}
.css-ig8bpr {
        text-transform: uppercase;
        margin: 0 0 10px;
    }
p {
    display: block;
    
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.css-1c823qx {
    background-color: #003243;
    color: #fff;
    padding: 45px 0px 30px 0px;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
}
.css-13qjmwc {
    max-width: 1200px;
    width: 100%;
    padding: 0 30px;
    display: flex;
}
.css-iwvb0y {
    padding: 10px;
    width: 20%;
}
.css-13qjmwc svg {
    height: 37px;
    width: 72px;
    margin-bottom: 20px;
}
.css-13qjmwc path {
    fill: #fff;
}
.css-66iazq {
    list-style: none;
}
ol, ul {
    list-style: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
}
.css-9ms3pa {
    font-size: 14px;
    margin-bottom: 11px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.css-tn6f0h {
    color: inherit;
    display: inline-block;
    transition: all ease-in-out 300ms;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.css-9ms3pa {
    font-size: 14px;
    margin-bottom: 11px;
}
.css-36z0xl {
    width: 100%;
    padding: 40px 0;
}
.css-1og3j6c {
    max-width: 1200px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.css-txryga {
    background-color: #fff;
    color: #003243;
    margin-top: 9px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
}
.css-txryga div:first-child {
        padding-left: 0;
    }
.css-fd2g8d {
    padding: 0 25px;
    display: flex;
    line-height: 20px;
    flex: 1;
}
.css-fd2g8d img {
    margin-bottom: auto;
}
img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.css-txryga div:first-child {
    padding-left: 0;
}
.css-cohu28 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 15px 10px 15px;
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #e1e1e1;
}
.css-txryga div:last-child {
    padding-right: 0;
}
.css-cxvkvd {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 15px;
}
.css-bxjpjf {
    background-color: #fff;
    padding: 20px 0 0 10px;
    margin-top: 9px;
}
.css-iqlbj5 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
}
.css-1i496c0 {
    margin: 6px 0 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.css-r44k6v {
    margin: 0;
}
.css-n82rmv {
    display: inline-block;
    padding: 10px;
}
.css-kmuj2v {
    background-color: #003243;
    color: #ffffff;
    border-top: 1px solid #fff;
    text-align: center;
    line-height: 18px;
    padding: 16px;
}
.css-180lbc6 {
    font-size: 14px;
    color: #fff;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    padding: 0 12px;
    text-transform: uppercase;
    margin: 0;
}
.css-1r5md4g {
    background-color: #003243;
    color: #ffffff;
    padding-bottom: 10px;
    text-align: center;
}
.css-v0a2uo {
    font-size: 12px;
    line-height: 20px;
}